# Server
PORT= // port number (ex: 3000)

# Database
MONGODB_URI= // paste connection string here

# Auth
JWT_SECRET= // any random string really 

# Email (Nodemailer)
EMAIL_USER= // your email address here 
EMAIL_PASS= // your email password here 

// For password hashing
BCRYPT_SALT_ROUNDS= // some number (ex: 10)
GOOGLE_CLIENT_ID= // your Google OAuth client ID here (ex: 1085604410862-9h7l8m1n5s0v6j3u4b5c6d7e8f9g0h.apps.googleusercontent.com)