# LOCAL VS PRODUCTION
PRODUCTION = false // set to true in production
# Server

PORT= // port number (ex: 3000)

# Database
MONGODB_URI= // paste connection string here

# Auth
JWT_SECRET= // any random string really 

# Email (Postmark)
POSTMARK_API_KEY= // your Postmark API key here
POSTMARK_FROM_EMAIL= // your Postmark sender email here 

// For password hashing
BCRYPT_SALT_ROUNDS= // some number (ex: 10)

// For Google OAuth
GOOGLE_CLIENT_ID= // your Google OAuth client ID here 